<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 p-10 text-white">
        
        <div class="w-full flex justify-between items-center">
            <div class="flex items-start gap-2 ">
                <div class="w-20 h-20 rounded-full overflow-hidden">
                    <a href="/profile/upload">
                        <img class="w-full h-full object-cover" src="/images/profiles/<%= user.profilepic %>" alt="">
                    </a>
                </div>
                <h3 class="py-3 text-3xl text-yellow-500 mb-5">👋Hi, <span class="text-white"><%= user.name %></span></h3>
            </div>
            <button class="bg-red-800 rounded-md py-2 px-6">
                <a href="/">Logout</a>
            </button>
        </div>
        
        <div class="p-5">
            <h5 class="mb-3 text-xl ">Create a post</h5>
            <form action="/post" method="post">
                <textarea placeholder="What's on your mind ?" class="block p-3 out line-none w-full h-40 resize-none bg-transparent border-2 border-zinc-800 rounded-md" name="content"></textarea>
                <input class="px-3 py-2 bg-blue-800 block rounded-md mt-5 w-full" type="submit" value="Create New Post">
            </form>
            <div class="posts mt-20">
                <h3 class="text-zinc-400 text-2xl mb-5">Your Posts</h3>
                <div class="postcontainer">
                    <% if(user.posts.length>0){ %>
                        <% user.posts.reverse().forEach((post) => { %>
                            <div class="post w-full p-4 border-[1px] mb-4 border-zinc-800 rounded-md bg-zinc-700">
                                <h4 class="text-blue-400 mb-2">@<%= user.username %></h4>
                                <p class="text-sm tracking-tight"><%= post.content %></p>
                                <div class="btns flex mt-5 gap-4">
                                    <div class="flex gap-2">
                                        <h5 class="text-green-300"><%= post.likes.length %></h5>
                                        <a class="text-blue-400"
                                        href="/like/<%= post._id %>">
                                        <%= post.likes.indexOf(user._id) === -1 ? "Like" : "Unlike" %>
                                        </a>
                                    </div>
                                    <a class="text-zinc-400" href="/edit/<%= post._id %>">Edit</a>
                                </div>
                            </div>
                        </div>
                            
                        <% }) %>
                    <% } else{ %>
                        <h3 class="text-zinc-500">No post..</h3>
                    <% } %>

                    
            </div>
        </div>
        
        
    </div>

</body>
</html>